<a href="https://colab.research.google.com/github/OseasReis/AULA-MOD.1---Blue/blob/main/T3c5_Aula_2_(7_jun).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

VARIÁVEL

In [ ]:
a = 29 # (int) variavel inteiro
b = 1.8 # (float) variarel decimal 
c = 'Bem vindo(a) aluno(a) Blumers!' #(string) conjunto de caracteres.nr, letra, simbolo -sempre começa e termina com áspas " ou '
"
print(a,b,c)
print('a + b + c')

SyntaxError: ignored

PRINTANDO AS VARIAVEIS CRIADAS

In [ ]:
print('Olá mundo!')
print('Esse é o meu primeiro código!!...ebaaa!!!')
print()

#criando variaveis
var1 = 'Blue' # string
var2 = 25     # int 
var3 = 15.87
var4 = True


print(var1)
print(var2)
print(var3)
print(var4)
print()

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print('olá mundo')

Olá mundo!
Esse é o meu primeiro código!!...ebaaa!!!

Blue
25
15.87
True

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
olá mundo

In [ ]:
var_a,var_b,var_c = 10,10.78,'blue'
print(var_a)
print(var_b)
print(var_c)
print(var_a,var_b,var_c)
print()

print('a variavel a recebeu o valor',var_a)
print(' a variavel c recebeu o valor',var_c)
print(var_c * var_a)

10
10.78
blue
10 10.78 blue

a variavel a recebeu o valor 10
 a variavel c recebeu o valor blue
blueblueblueblueblueblueblueblueblueblue

COMANDO INPUT

In [ ]:
nome = input('Digite o seu nome:  ')
print('O seu nonme é: ', nome)
num1 = int(input('Digite o seu Nr: '))
print('o seu  nr é:',num1)
num2 = float(input('digite o segundo nr: '))
print('o seu segundo nr é:',num2)
print()


print(num1)
print(num2)
print()
print(type(num1))
print(type(num2))

Digite o seu nome:  REIS
O seu nonme é:  REIS
Digite o seu Nr: 50
o seu  nr é: 50
digite o segundo nr: 4
o seu segundo nr é: 4.0

50
4.0

<class 'int'>
<class 'float'>

OPERADORES ARITMÉTICOS

In [ ]:
num1 = int(input('Digite o primeiro nr:')) 
num2 =int(input('Digite o segundo nr:'))

print(num1+num2)
print(num1-num2)
print(num1 * num2)
print('a divisão dos nrs é =:',num1/num2)

Digite o primeiro nr:20
Digite o segundo nr:2
22
18
40
a divisão dos nrs é =: 10.0

In [ ]:
num1 = int(input('Digite o primeiro nr:')) 
num2 =int(input('Digite o segundo nr:'))

print('A soma dos nrs é:',num1+num2)
print('A subtração dos nrs é:',num1-num2)
print('A multiplicação dos nr é:',num1 * num2)
print('A divisão dos nrs é :',num1/num2)
print('A divisão inteira dos nrs é:',num1 // num2)
print('A exponenciação dos nrs é:',num1 ** num2)
print('O resto da divisão dos nrs é:', num1 % num2)

Digite o primeiro nr:14
Digite o segundo nr:4
A soma dos nrs é: 18
A subtração dos nrs é: 10
A multiplicação dos nr é: 56
A divisão dos nrs é : 3.5
A divisão inteira dos nrs é: 3
A exponenciação dos nrs é: 38416
O resto da divisão é: 2

EXERCÍCIOS

"Crie um programa que solicite um um valor em real ao usuÃ¡rio e converta esse valor, para:\n",
        "\n",
        "- DOLAR,\n",
        "- EURO,\n",
        "- LIBRA ESTERLINA,\n",
        "- DÃ“LAR CANADENSE,\n",
        "- PESO ARGENTINO,\n",
        "- PESO CHILENO.\n",
        "\n",
        "Para esse exercÃ­cio vocÃª precisarÃ¡ realizar uma pesquisa para saber a cotaÃ§Ã£o de cada moeda em real. Mostrar o resultado no formato $ XXXX.XX"

In [ ]:
valor_Dolar = 5.04
valor_Euro = 6.13
valor_libraEsterlina = 7.13
valor_Dolarcanadense = 4.16
Peso_argentino = 00.53
Peso_Chileno = 00.070
quantidade_real = float(input('Quantos reias?  '))

quantidade_Dolar = quantidade_real / valor_Dolar
print('Total de  ' + str(quantidade_Dolar) +  '  dolares')

Quantos reias?  25
Total de  4.9603174603174605  dolares